body {
	font-family: Helvetica, 'Microsoft YaHei', sans-serif;
	font-weight: 400;
}

/*-apple-system, Avenir Next, */

code {
  font-family: 'Menlo', 'Monaco', 'Courier New',  'Courier', monospace;
  font-size: 14px;
}